@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}
.container{
    flex-grow: 1;
    flex-shrink: 0;
    display: flex; 
    padding: 15px 35px 15px 35px;
}

button{
    background-color: #3882F6;
    border: none;
    color: white;
    width: 85px;
    height: 25px;
    border-radius: 5px;
}
.main-container{
    background-color: #1f2937;
    justify-content: space-around;
    padding: 50px;
}
/* left side of main (header logo and description)*/
.logo{
    flex: 0;
}
.left-main{
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    flex-direction: column;
    justify-content: space-between;
}
.description-container{
    max-width: 450px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description-container  h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding: 0;
    margin: 0;
}
.description-text{
    font-size: 18px;
    color: #E5E7EB;
}
/* right side of main (link and image)*/
.right-main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
ul{
    flex: 0;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.image-placeholder-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-for-image{
    background-color: #6D747D;
    color: white;
    width: 450px;
    height: 175px;
    font-size: 18px;

    /* ceneter text*/
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Information*/
.info-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.info-header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.info-main{
    display: flex;
    gap: 50px;
}

.info-image{
    border: 5px solid #3882F6;
    border-radius: 20px;
    width: 170px;
    height: 170px;
}

.info-text{
    max-width: 170px;
    text-align: center;
    padding-top: 10px;

    font-size: 18px;
    color: #4B5563;
}
/* Quote*/
.quote-container{
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    font-style:italic;
    color: #1f2837;
    width: 825px;
}

.God{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    justify-content: flex-end;
}
/* Call to Action*/
.call-to-action-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 850px;
    height: 150px;
    background-color: #3882F6;
    border-radius: 10px;
}
.cta-text{
    color: white;
}
.cta-button{
    border: 1px white solid;
}
.footer{
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

